<label class="control-label">{{label}}</label>
{{yield}}
{{#if canShowErrors}}
    <span class="help-block">{{helpText}}</span>
{{/if}}
<span class="form-control-feedback"><i class="{{feedback_icon}}"></i></span>
